<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Pizzería Donatelo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Pizzería Donatelo</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/menu">Menú</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h2>Contacto</h2>
        <div class="contact-info">
            <div class="contact-item">
                <h3>Sorcursal 1</h3>
                <p>+54 9 261 699-5545</p>
                <p>Virgen de la Merced 929 - Maipu </p>
                <a href="https://maps.app.goo.gl/w6va7zZ7c2bLyLgR8">Direccion Goodle</a>
                
            </div>
           
            <div class="contact-item">
                <h3>Socursal 2</h3>
                <p>+54 9 261 723-2618</p>
                <p>Aristides Villanueva 633 - Ciudad</p>
                <a href="https://maps.app.goo.gl/VkT7qaLLLoVBNaMu5">Direccion Goodle</a>
               
            </div>
            
            <div class="contact-item">
                <h3>Sorcursal 3</h3>
                <p>+54 9 261 389-6895</p>
                <p>Godoy Cruz 7657 - Guaymallen</p>
                <a href="https://maps.app.goo.gl/xXJkdhe5v3HNV6vT9">Direccion Goodle</a>
                
            </div>
            
        </div>
    </main>
    <div class="contentenido"></div>
    <footer>
        <p>&copy; 2024 Pizzería Donatelo - Todos los derechos reservados</p>
    </footer>
</body>
</html>
